@font-face {
  font-family: 'Ailerons';
  src: url('../fonts/Ailerons.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

img, canvas, svg {
  display: block;
}

h1 {
  font-family: 'Ailerons', sans-serif;
  font-size: 6em;
  font-weight: normal;
  text-indent: -0.15em;

  @media screen and (max-width: 1500px) {
    font-size: 4.5em;
  }
}
